/* Style page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", Arial, sans-serif;
    background: url('./img/mountain.jpg') no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Layout */
.container-fluid {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.page-title {
    position: fixed;
    top: 3rem;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding: 2.5rem 5rem;
    border-radius: 2rem;
}

.list-group {
    margin: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem 2rem;
}

.score {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
}

.result {
    display: none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-left: 0.5rem solid darkblue;
    font-weight: bold;
    font-size: 2rem;
    color: darkblue;
}

.player,
.computer {
    text-align: center;
}


/* Typography  */
.display-1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    font-weight: 900;
}
.title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0 2rem;
}
.sub-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Components */
.btn {
    display: inline-block;
    width: 7.5rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    background-color: aqua;
    color: black;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover,
.btn:active {
    font-weight: 600;
    background-color: aquamarine;
}

.btn-retry
{
    display: none;
    width: 13rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 0.15rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.7rem;
}
.btn-retry:hover
{
    border: 0.15rem solid rgba(0, 0, 0, 0.9);
}