/* Style page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", Arial, sans-serif;
    background: url('./img/mountain.jpg') no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Layout */
.container-fluid {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-title {
    position: fixed;
    top: 3rem;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #A7FFEB;
    padding: 2.5rem 5rem;
    border-radius: 2rem;
}

.list-group {
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem 2rem;
}

.list-group-item {
    width: 15rem;
    height: auto;
}

.list-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.img-button {
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.img-button:hover,
.img-button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-choice {
    max-width: 10rem;
    height: auto;
}

#player-choice,
#computer-choice {
    display: none;
}

.score {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.game,
.score {
    display: none;
}

.result {
    display: none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.player,
.computer {
    text-align: center;
}

#retry-game {
    display: none;
    justify-content: center;
    align-items: center;
}

#retry-game .list-group-item {
    text-align: center;
}

.setting {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

/* Typography  */
.display-1 {
    font-size: 5rem;
    text-align: center;
    color: #A7FFEB;
    font-weight: 900;
}

.title {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0 2rem;
}

.sub-title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: lighter;
    font-size: 2rem;
    line-height: 2rem;
}

/* Components */
.btn-retry {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: #00BFA5;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-secondary,
.btn-primary {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
    border: 2px solid #304FFE;
    color: #ffffff;
    background-color: #304FFE;
}
.btn-secondary {
    border: 2px solid #304FFE;
    color: #304FFE;
    background-color: #ffffff;
}
.btn-secondary:hover {
    border: 2px solid #304FFE;
    color: #304FFE;
    background-color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover {
    background-color: #304FFE;
    border-color: #304FFE;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.winner {
    max-height: 20rem;
    width: auto;
}

/* Animation */
span.ripple {
    position: absolute;
    /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

.cercle {
    width: 0px;
    height: 0px;
    position: absolute;
    background: white;
    border-radius: 50%;
}

.anim {
    opacity: 0.3;
    animation: touch 0.8s ease-out;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes touch {
    40% {
        opacity: 0.2;
    }

    100% {
        width: 800px;
        height: 800px;
        opacity: 0;
        margin: -400px;
    }
}

@media screen and (max-width: 1919px) {
    .page-title {
        position: fixed;
        top: 1.5rem;
    }

    .container {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1599px) {
    .page-title {
        position: fixed;
        top: 1rem;
    }

    .container {
        margin-top: 5rem;
        padding: 2.5rem 4rem;
    }

    .title {
        margin: 0 0 1rem;
    }

    #retry-game {
        margin: 2rem 0 0;
    }

    .result {
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .page-title {
        display: none;
    }
}